<div class="container">
    <div class="header">
      <h1>My Matches</h1>
      <span>8 Profiles pending with me <span class="new">(5 NEW)</span></span>
      <button class="menu-icon" (click)="navigateToGestureScreen()">&#x22EE;</button>
    </div>
  
    <div style="display: flex; justify-content: space-between; align-items: center;margin-top: 60px;">
      <button class="scroll-btn" (click)="scrollLeft()">Left</button>
      <div #widgetsContent class="middle">
        <div class="card-wrapper" [ngStyle]="{'transform': 'translateX(-' + currentIndex * (100 / 3) + '%)'}">
          <div class="card" *ngFor="let testimonial of testimonials.slice(currentIndex, currentIndex + 3)">
            <img [src]="testimonial.imageUrl" alt="{{ testimonial.name }}" class="testimonial-image" (click)="viewProfileDetails(testimonial.id)" />
            <div class="card-body" (click)="viewProfileDetails(testimonial.id)">
            
  <h3>{{ testimonial.name }}</h3>
              <div class="card-text">
                <p>{{ testimonial.age }} Yrs, {{ testimonial.height }}</p>
                <p>{{ testimonial.community }}</p>
                <p>{{ testimonial.profession }}</p>
                <p>{{ testimonial.city }}, {{ testimonial.state }},{{ testimonial.country }}.</p>
              </div>
            </div>
            <div class="action-buttons">
              <button class="yes-btn">Yes</button>
              <button class="no-btn">No</button>
            </div>
          </div>
        </div>
      </div>
      <button class="scroll-btn" (click)="scrollRight()">Right</button>
    </div>
  </div>
  